*GITIGNORE

.git
.vscode
*RUNNING
**/.cache

**/__pycache__
build 
*egg-info
dist

model_export*
release.zip
model.zip

data.phase*
data
results 

cfg.json

# results
plots 
preds
counts.json
results.csv 
